In [19]:
print('hello')

hello

In [20]:
basket = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(basket)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## ADDING

In [21]:
# Using insert, it will modify only on the original list, we can't assign to a new list
new_basket = basket.insert(5, 100)
print(new_basket)
print(basket)

None
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9]

In [22]:
# Using append, it will change only on the original list, we can't assign to a new list
new_basket = basket.append(150)
print(new_basket)
print(basket)

None
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 150]

In [23]:
# Using extend, it will change only on the original list, we can't assign to a new list
new_basket = basket.extend([200])
print(new_basket)
print(basket)

None
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 150, 200]

In [24]:
new_basket = basket.extend([250, 300])
print(new_basket)
print(basket)

None
[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 150, 200, 250, 300]

## REMOVING

In [25]:
basket.pop()
print(basket)

[1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 150, 200, 250]

In [26]:
new_basket_1 = basket.pop(0)
print(new_basket_1)
print(basket)

1
[2, 3, 4, 5, 100, 6, 7, 8, 9, 150, 200, 250]

In [27]:
basket.remove(3)
print(basket)

[2, 4, 5, 100, 6, 7, 8, 9, 150, 200, 250]

In [28]:
# # Using remove, it will change only on the original list, we can't assign to a new list
new_list = basket.remove(4)
print(new_list)
print(basket)

None
[2, 5, 100, 6, 7, 8, 9, 150, 200, 250]

In [29]:
print(basket)

[2, 5, 100, 6, 7, 8, 9, 150, 200, 250]

In [30]:
new_list_1 = basket.clear()
print(new_list_1)
print(basket)

None
[]

## INDEX

In [38]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters.index('a'))

0

In [41]:
letters_1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters_1.index('b'))

1

In [50]:
print(letters_1.index('c', 1, 5))

2

In [49]:
# Looking for d in the list in a range of indexes, 
# print(letters_1.index('c', 3, 6))

# Since there is not c in the range of index from 3 to 6. There will be an error. Use in would be better.

In [51]:
print('x' in basket)

False

In [52]:
print('i' in 'hi my name is Sasha')

True

In [54]:
print(letters.count('d'))

1

In [57]:
stock = ['a', 'c', 'b', 'd', 'e', 'g', 'f']
stock.sort()
print(stock) # The stock has been modified

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [58]:
stock = ['a', 'c', 'b', 'd', 'e', 'g', 'f']
print(sorted(stock))
print(stock). # The stock hasn't been modified

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'c', 'b', 'd', 'e', 'g', 'f']

In [62]:
new_stock = stock.copy()
print(new_stock)

['a', 'c', 'b', 'd', 'e', 'g', 'f']

In [64]:
stock.reverse()
print(stock)

['f', 'g', 'e', 'd', 'b', 'c', 'a']

In [65]:
print(len(stock))

7

In [67]:
print(stock[::-1])
print(stock)

['a', 'c', 'b', 'd', 'e', 'g', 'f']
['f', 'g', 'e', 'd', 'b', 'c', 'a']

In [70]:
range(1, 100)

range(1, 100)

In [1]:
type(list)

type

In [5]:
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [6]:
print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
sentence = '!'
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'John'])
print(new_sentence)

hi!my!name!is!John

In [9]:
sentence = ' '
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'John'])
print(new_sentence)

hi my name is John

In [11]:
new_way = ' '.join(['hi', 'my', 'name', 'is', 'John'])
print(new_way)

hi my name is John

## List Unpacking

In [12]:
a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [14]:

a,b,c = [4,5,6]
print(a)
print(b)
print(c)

4
5
6

In [16]:
d,f,g, *other = [1,2,3,4,5,6,7,8,9]
print (d)
print(f)
print(g)
print(other)

1
2
3
[4, 5, 6, 7, 8, 9]

In [17]:
d,f,g, *other, h = [1,2,3,4,5,6,7,8,9]
print (d)
print(f)
print(g)
print(other)
print(h)

1
2
3
[4, 5, 6, 7, 8]
9