In [1]:
a = (1, 2, 3, 4)

In [2]:
type(a)

tuple

In [3]:
b = 1, 2, 3, 4, 5

In [4]:
type(b)

tuple

In [14]:
# packing
x = (1, 2, 3)
y = (5, 6)

In [15]:
x

(1, 2, 3)

In [16]:
a, b, c = x

In [17]:
a

1

In [18]:
b

2

In [19]:
c

3

In [20]:
z = a, b, c

In [21]:
z

(1, 2, 3)

In [26]:
def add(*args):
    print(type(args))

In [28]:
add(1, 2, 4, 34, 34,35)

<class 'tuple'>

In [29]:
def add(*args):
    total = 0
    for item in args:
        total += item
    return total

In [30]:
add(1)

1

In [31]:
add(1, 2)

3

In [32]:
add(1, 2, 3, 4, 5)

15

In [33]:
def add(*args):
    return sum(args)

In [34]:
add(1,2, 3,4)

10

In [36]:
sum((1,2,3,4,5,6,7,8,9))

45

In [37]:
sum([1,2,3,4,5])

15

In [38]:
t = 1,2,3,4,5
sum(t)

15

In [1]:
num = 12
name = 'Maia'

In [3]:
print('My number is {} and my name is {}'. format(num, name))

My number is 12 and my name is Maia

In [4]:
print('My number is {one} and my name is {two}'. format(one = num, two = name))

My number is 12 and my name is Maia

In [5]:
s = 'hello'

In [6]:
s[0]

'h'

In [7]:
s[-1]

'o'

In [8]:
s[4]

'o'

In [9]:
t = 'abcdefghijk'

In [10]:
t[0]

'a'

In [11]:
t[0:]

'abcdefghijk'

In [12]:
t[:3]

'abc'

In [13]:
t[0:3]

'abc'

In [14]:
t[3:6]

'def'

In [15]:
[1,2,3]

[1, 2, 3]

In [16]:
['a', 'b', 'c']

['a', 'b', 'c']

In [17]:
my_list = ['a', 'b', 'c']

In [18]:
my_list.append('d')

In [19]:
my_list

['a', 'b', 'c', 'd']

In [20]:
my_list[0]

'a'

In [21]:
my_list[1:3]

['b', 'c']

In [22]:
my_list[0] = 'NEW'

In [23]:
my_list

['NEW', 'b', 'c', 'd']

In [26]:
nest =  [1,2,[3,4]]

In [27]:
nest[2]

[3, 4]

In [28]:
nest[2][1]

4

In [30]:
nest = [1,2,3,[4,5, ['target']]]

In [31]:
nest[3][2][0]

'target'

In [32]:
print(nest[3][2][0])

target

In [33]:
# PYTHON CRASH COURSE - PART 2

In [34]:
d = {'key1' : 'value', 'key2': 123}

In [35]:
d['key1']

'value'

In [36]:
d['key2']

123

In [37]:
d = {'k1': [1,2,3]}

In [40]:
my_list = d['k1']

In [41]:
my_list[0]

1

In [42]:
d = {'k1': {'innerkey': [1,2,3]}}

In [44]:
d['k1']['innerkey'][1]

2

In [45]:
True

True

In [46]:
False

False

In [53]:
my_list = [1,2,3]

In [48]:
my_list[0]

1

In [50]:
t = (1,2,3)

In [51]:
t[0]

1

In [55]:
my_list[0] = 'NEW'

In [56]:
my_list

['NEW', 2, 3]

In [57]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [58]:
# SET

In [60]:
{1,2,3,4}

{1, 2, 3, 4}

In [59]:
{1,2,2,2,3,3,4}

{1, 2, 3, 4}

In [61]:
set([1,1,1,1,2,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [62]:
s = {1,2,3}

In [63]:
s.add(5)

In [64]:
s

{1, 2, 3, 5}

In [65]:
s.add(5)

In [66]:
s

{1, 2, 3, 5}

In [67]:
# COMPARISON OPERATOR

In [68]:
1 >2

False

In [69]:
1<2

True

In [70]:
1<=1

True

In [71]:
1==1

True

In [72]:
1==2

False

In [73]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-73-ecdac3dcabfd>, line 1)

In [74]:
1 != 3

True

In [75]:
'hi' != 'bye'

True

In [77]:
1 < 2 and 2 <3

True

In [78]:
1 < 2 and 2 > 3

False

In [79]:
(1 < 2) and (2 > 3)

False

In [80]:
(1<2) or (2>3) or (1==1)

True

In [81]:
# IF, ELIF, ELSE

In [82]:
if 1 < 2:
    print('yep!')

yep!

In [83]:
if True:
    x = 2 + 2

In [84]:
x

4

In [85]:
if 1 == 2:
    print('First')
else:
    print('last')

last

In [86]:
if 1 != 2:
    print('First')
else:
    print('last')

First

In [87]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('last')

Middle

In [89]:
if 1 == 2:
    print('First')
elif 4 ==4:
        print('second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

second

In [90]:
# PYTHON CRASH COURSE - PART 3

In [91]:
# FOR LOOP, WHILE LOOP

In [92]:
seq = [1,2,3,4,5]

In [93]:
for item in seq:
    print(item)

1
2
3
4
5

In [94]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [98]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [99]:
for x in seq:
    print(x)

1
2
3
4
5

In [100]:
range(0,5)

range(0, 5)

In [101]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [102]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [103]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# LIST COMPREHENSION

In [105]:
x = [1,2,3,4]

In [106]:
out = []
for num in x:
    out.append(num ** 2)

In [107]:
print(out)

[1, 4, 9, 16]

In [108]:
[num**2 for num in x]

[1, 4, 9, 16]

In [109]:
out = [num **2 for num in x]

In [110]:
out

[1, 4, 9, 16]

In [111]:
# FUNCTION

In [112]:
def my_func(param1):
    print(param1)

In [113]:
my_func('hello')

hello

In [114]:
def my_func(name):
    print ('Hello ' + name)

In [115]:
my_func

In [116]:
my_func('Maia')

Hello Maia

In [118]:
def square(num):
    return num**2

In [119]:
output = square(2)

In [120]:
output

4

In [121]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [122]:
square

In [123]:
square(4)

16

In [124]:
# PYTHON CRASH COURSE - PART 4

In [125]:
def times2(var):
    return var*2

In [126]:
times2(5)

10

In [127]:
seq = [1,2,3,4,5]

In [130]:
# map()

In [131]:
seq = [1,2,3,4,5]

In [132]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [133]:
def times2(var):return var*2

In [134]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [135]:
lambda var:var*2

In [136]:
t = lambda var:var*2

In [137]:
t(6)

12

In [138]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [140]:
list(filter(lambda num: num % 2 == 0, seq))

[2, 4]

In [141]:
s = 'hello my name is Maia'

In [142]:
s.lower()

'hello my name is maia'

In [143]:
s.upper()

'HELLO MY NAME IS MAIA'

In [144]:
s.split()

['hello', 'my', 'name', 'is', 'Maia']

In [145]:
tweet = 'Go Sports! #Sports'

In [146]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [147]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [148]:
tweet.split('#')[1]

'Sports'

In [149]:
d = {'k1': 1, 'k2': 2}

In [150]:
d.keys()

dict_keys(['k1', 'k2'])

In [151]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [152]:
d.values()

dict_values([1, 2])

In [153]:
lst = [1,2,3]

In [154]:
lst.pop()

3

In [155]:
lst

[1, 2]

In [156]:
lst = [1,2,3,4]

In [157]:
item

5

In [158]:
first = lst.pop(0)

In [160]:
lst

[2, 3, 4]

In [161]:
first

1

In [162]:
lst.append('new')

In [163]:
lst

[2, 3, 4, 'new']

In [164]:
'x' in [1,2,3]

False

In [165]:
'x' in ['x', 'y', 'z']

True

In [166]:
# tupple unpacking

In [167]:
x = [(1,2), (3,4), (5,6)]

In [169]:
x[0][1]

2

In [170]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [171]:
for (a,b) in x:
    print(a)

1
3
5

In [172]:
for (a,b) in x:
    print(b)

2
4
6

In [173]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6