# SET

In [1]:
my_set = {1,2,3,4,4,5,6,6,6,7,8}
print(my_set) # only return the unique value of set.

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
my_set1 = {1,4,2,2,3,6,5,7,8,5,5,9}
print(my_set1) # only return the unique value and put them in order

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
my_set.add(100)
my_set.add(0)
my_set.add(4)
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 100}

In [4]:
my_list = [1,2,3,4,5,5,6,7]
print(set(my_list)) # print the unique value of a list

{1, 2, 3, 4, 5, 6, 7}

In [8]:
print(my_set)
print(my_set1)
my_set.difference(my_set1)
my_set1.difference(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{9}

In [9]:
print(my_set.discard(5))
print(my_set)

None
{0, 1, 2, 3, 4, 6, 7, 8, 100}

In [10]:
print(my_set.difference_update(my_set1))

None

In [11]:
print(my_set)

{0, 100}

In [12]:
print(my_set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
my_set = {0, 1, 2, 3, 4, 5, 6, 7, 8, 100}
print(my_set)
print(my_set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
print(my_set.intersection(my_set1))

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
print(my_set & my_set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
# These sets have nothing in common
print(my_set.isdisjoint(my_set1))

False

In [20]:
# united the sets together but removed any duplicates
print(my_set.union(my_set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 100, 9}

In [22]:
print(my_set)
print(my_set1)
print(my_set | my_set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 100, 9}

In [24]:
print(my_set.issubset(my_set1))

False

In [26]:
my_set2 = {3, 4, 5, 6}
print(my_set2)
print(my_set)
print(my_set2.issubset(my_set))

{3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 100}
True

In [28]:
print(my_set2.issuperset(my_set))
print(my_set.issuperset(my_set2))

False
True